//fonts
$google-font: "https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap";

$fontFamily: "Montserrat", sans-serif;

$baseFontSize: 16px;

// Paths

$imgPath: "../i/";
$fontPath: "../fonts/";

// Colors
$black: #000000;
$white: #ffffff;
$btnYellowColor: #ffc700;
$btnYellowFocusColor: #f3d66f;
$headerBgColor: #2b2835;
$headerNavColor: #191720;
$textDescriptionColor: #2b2835;
$thirdPostBgColor: #ffc700;
$postTextInfoColor: #030303;
$fourthPostBgColor: #f4f4f4;
$fourthPostBonusTextColor: #6a6a6a;
$contentBoxPriceColor: #9d8220;
$contentBoxBgColor: #f8f8f9;
$borderSignUpForm: #bfbfbf;
$footerMenuLinkColor: #b8b8b8;
